/** {

    background-color: #212024ff;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    

}


body {

    overflow: visible;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: row; 

}

.leftsidecolumn {

    height: 752px;
    width: 720px;

}

.leftsideimg {

    height: 752px;
    width: 720px;

}

.rightsidecolumn {

    height: 752px;
    width: 720px;

    flex-direction: column;
    align-items: space-evenly;

}

.section {

    height: 50px;
    width: 720px;

    display: flex;
    align-items: space-evenly;
    justify-content: flex-start;

    margin-top: 10px;

}

.first-section {

    height: 50px;
    width: 720px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

}

.third-section {

    height: auto;
    width: 720px;

    display: flex;
    align-items: space-evenly;
    justify-content: flex-start;

    margin-top: 10px;

}

.sixth-section {

    height: 50px;
    width: 720px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

}

#specialheading {

    height: auto; 
    width: 500px;

    background-color: #FEDE5A;

    color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    padding-top: 10px;
    padding-bottom: 10px;

}


h1 {

    color: white;

    padding-left: 10px;

}

h2 {

    color: white;

    padding-left: 10px;

}

p {

    color: white;

    padding-left: 10px;

    font-size: 18px;

}

.yt-logo, .linkedin-logo, .twitter-logo, .github-logo {

    height: 40px;
    width: 40px;

    background-color: #FEDE5A;

}

.twitter-logo, .github-logo {

    background-color: #FEDE5A;

}

.sociallinks {

    margin-left: 20px;
    
}



.piechart { 

    width: 100px; 
    height: 100px; 

    margin-top: 10px;
    margin-left: 10px;  
    
    display: block; 
    position: absolute; 

    border-radius: 50%; 
    background-image: conic-gradient( 
        lightblue 0 180deg,  
        orange 0 360deg ); 

} 

body, 
.piechart { 

    display: flex; 
    justify-content: center; 
    align-items: center; 

} */

/* Universal Selector */
* {

    background-color: #212024ff;
    color: white;

    box-sizing: border-box;
    font-family: arial, sans-serif;
    margin: 0;

}

/* Body */
body {

    overflow: visible;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: row; 

}

/* Left Side Column */
.leftsidecolumn {

    height: 752px;
    width: 720px; 

}

/* Left Side Image */
#leftsideimg {

    height: 752px;
    width: 720px;

}

/* Right Side Column */
.rightsidecolumn {

    height: 752px;
    width: 720px;

    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;

}

/* All the Sections in the Right Side Column */
/* First Section */
#firstsection {

    height: auto;
    width: 720px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

}

/* Second Section */
#secondsection {

    height: auto;
    width: 720px;

    display: flex;
    align-items: space-evenly;
    justify-content: center;
    flex-direction: column; 

    margin-top: 25px;

}

/* Third Section */
#thirdsection {

    height: auto;
    width: 720px;

    display: flex;
    align-items: space-evenly;
    justify-content: flex-start;
    flex-direction: column; 

    margin-top: 25px;

}

/* Fourth Section */
#fourthsection {

    height: auto;
    width: 720px;

    display: flex;
    align-items: space-evenly;
    justify-content: flex-start;
    flex-direction: column; 

    margin-top: 25px;

}

/* Fifth Section */
#fifthsection {

    height: auto;
    width: 720px;

    display: flex;
    align-items: space-evenly;
    justify-content: flex-start;
    flex-direction: column; 

    margin-top: 25px;

}

/* Sixth Section */
#sixthsection {

    height: auto;
    width: 720px;

    display: flex;
    align-items: center;
    justify-content: center; 

    margin-top: 10px;

}

.panel1container {

    height: auto;
    width: 720px;

    display: flex;
    align-items: center;
    justify-content: center; 

    padding-top: 10px;
    padding-bottom: 10px;

}

/* All the Headings in all the Sections in the Right Side Column */
/* Every Heading */
.everyheading {

    padding-left: 10px;

}

.lastheading {

    background-color: #FEDE5A;
    color: black;

}

/* All the Paras in all the Sections in the Right Side Column */
/* Every Para */
.everypara {

    padding-left: 10px;

    font-size: 18px; 

    margin-top: 10px;

}

/* Panel at the bottom */
.panel3 {

    height: auto;
    width: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    padding: 10px;

    background-color: #FEDE5A;
    border-radius: 10px;

}

/* All the Logos with the Links in the Panel */
/* Logos */
/* YT's and Linkedin's Logos */
#ytlogo, #linkedinlogo {

    height: 40px;
    width: 40px;

    background-color: #FEDE5A;

    margin-left: 10px;

}

/* Twitter's Logos */
#twitterlogo {

    height: 40px;
    width: 40px;

    background-color: #FEDE5A;

    border-radius: 4px;

    margin-left: 10px;

}

/* Linkedin's Logos */
#linkedinlogo {

    height: 40px;
    width: 40px;

    background-color: #FEDE5A;

    border: 1px solid black;
    border-radius: 6px;

    margin-left: 10px;

}

/* GitHub's Logos */
#githublogo {

    height: 40px;
    width: 40px;

    background-color: #FEDE5A;

    border: 1px solid black;
    border-radius: 4px;

    margin-left: 10px;

}

/* Fiverr's Logos */
#fiverrlogo {

    height: 40px;
    width: 40px;

    background-color: #FEDE5A;

    border: 1px solid black;
    border-radius: 4px;

    margin-left: 10px;

}

/* GitHub's and Twitter's Links */
#githublink, #twitterlink, #fiverrlink {

    height: 40px;
    width: 40px;

    background-color: #FEDE5A;

    border: 0px solid black;
    border-radius: 0px;

    margin-left: 10px;

}

/* Linkedin's Link */
#linkedinlink {

    height: 40px;
    width: 40px;

    background-color: #FEDE5A;

    border: 0px solid black;
    border-radius: 10px;

    margin-left: 10px;

}

/* Panel in Third Section */
.panel1 {

    height: auto;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    padding: 10px;

    background: #FEDE5A;
    border-radius: 10px;

}

.htmlskillpanel {

    height: auto;
    width: auto;

    background-color: #FEDE5A;

    padding: 10px;

    border: 1px solid black;

    border-radius: 10px;

}

.htmlskillpanelheading {

    height: auto;
    width: auto;

    background-color: #FEDE5A;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex-direction: row; 

}

.htmlskillbar {

    height: auto;
    width: auto;

    background-color: #FEDE5A;

    display: grid;
    grid-template-columns: repeat(10, 10px);
    grid-gap: 10px;

    padding: 10px;

}

.box {

    height: 10px;
    width: 20px;

    background-color: #a38216;

}

#html {

    color: white;    
    background-color: black;

    border-radius: 5px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;

    margin-left: 5px;

}

#htmlpercentage {

    color: white;    
    background-color: black;

    border-radius: 5px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;

    margin-left: 5px;

}

/* Panel in Third Section */

.cssskillpanel {

    height: auto;
    width: auto;

    background-color: #FEDE5A;

    margin-left: 10px;

    padding: 10px;

    border: 1px solid black;

    border-radius: 10px;

}

.cssskillpanelheading {

    height: auto;
    width: auto;

    background-color: #FEDE5A;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex-direction: row; 

}

.cssskillbar {

    height: auto;
    width: auto;

    background-color: #FEDE5A;

    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-gap: 10px;
    
    padding: 10px;

}

.box {

    height: 10px;
    width: 10px;

    background-color: #a99a22;

}

.box2 {

    height: 10px;
    width: 40px;

    background-color: #a99a22;

}

#darkerbox1 {

    height: 10px;
    width: 10px;

    background-color: black;

}

#darkerbox2 {

    height: 10px;
    width: 40px;

    background-color: black;

}

#css {

    color: white;    
    background-color: black;

    border-radius: 5px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;

    margin-left: 5px;

}

#csspercentage {

    color: white;    
    background-color: black;

    border-radius: 5px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;

    margin-left: 5px;

}

.panel2container {

    height: auto;
    width: 720px;

    display: flex;
    align-items: center;
    justify-content: center; 

    padding-top: 10px;
    padding-bottom: 10px;

}

.panel2 {

    height: auto;
    width: auto;

    display: grid;
    grid-template-columns: repeat(1, 100px);
    grid-gap: 10px;

    padding: 10px;

    background: #FEDE5A;
    border-radius: 10px;

}

.project {

    height: 75px;

    background-color: #FEDE5A;

    padding: 10px;

    border: 1px solid black;

    border-radius: 10px;

}


/* 🤨 What can i do for you? - DONE
   🤖 My Projects - DONE
   Make it a row section - DONE
   Put 2 modes dark and light 
   Make a pie chart to show skills stack*/


